:root{
    --duration: 2s;
    --outer-delay: 0.2s;
    --main-delay: 0.3s;
    --ease: cubic-bezier(0.17, 0.67, 0.34, 0.99);
    --image-size: 140vh;
}

*,
*:before,
*::after {
    padding: 0;
    margin: 0;
    position: relative;
    transform-origin: center center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #eee;
}

.scene {
    height: 80vh;
    width: 95vh;
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),0 15px 12px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: var(--image-size);
    height: var(--image-size);
    position: absolute;
    overflow: hidden;
}

.background, .-clip {
    height: 100%;
    width: 100%;
    position: absolute;
}

.background {
    &:before {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        height: 100%;
        width: 100%;
        display: block;
    }
}

.-rounded {
    border-radius: 100%;
}

.-outer {
    transform: scale(0.4);
    .background {
        transform: scale(2.5);
    }
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.3);
    }
}

.-rounded {
    border-radius: 100%;
    overflow: hidden;
}

.-inner {
    transform: scale(0.2);

    .background {
        transform: scale(5.05);
    }
}

.scene {
    .image .background:before {
        animation-duration: var(--duration);
        //animation-fill-mode: forwards;
        animation-delay: var(--main-delay);
    }
    .image:nth-child(2) .background:before {
        animation-delay: var(--outer-delay);
    }
    .image:last-child .background:before {
        animation-delay: 0s;
    }
}

@keyframes animate-out {
    from{
        transform: rotateZ(0deg) scale(1);
    }
    to {
        transform: rotateZ(360deg) scale(3);
    }
}
@keyframes animate-in {
    from {
        transform: rotateZ(0deg) scale(3);
    }
    to {
        transform: rotateZ(360deg) scale(1);
    }
}

.slide:first-child .background:before {
    background-image: url("https://picsum.photos/1260/900?random=1");
}
.slide:nth-child(2) .background:before {
    background-image: url("https://picsum.photos/1260/900?random=2");
}
.slide:nth-child(3) .background:before {
    background-image: url("https://picsum.photos/1260/900?random=3");
}
.slide:nth-child(4) .background:before {
    background-image: url("https://picsum.photos/1260/900?random=4");
}
.slide {
    transition: opacity var(--duration);
}
.slide[data-current="true"] {
    opacity: 1;
    .image .background:before {
        animation-name: animate-in;
    }
    --main-delay:.5s;
}
.slide:not([data-current="true"]) {
    opacity: 0;
    .image .background:before {
        animation-name: animate-out;
    }
}
